## Exploring run metadata

In [2]:
import pandas as pd

In [5]:
run = pd.read_csv('../raw_data/run_data_meta.csv')

In [10]:
run.shape

(1832, 26)

In [9]:
run.sub_id

0       100433
1       100434
2       100537
3       100560
4       101481
         ...
1827    200986
1828    200987
1829    201100
1830    201101
1831    201099
Name: sub_id, Length: 1832, dtype: int64

In [13]:
run

,sub_id,datestring,filename,speed_r,age,Height,Weight,Gender,DominantLeg,InjDefn,...,SpecInjury2,Activities,Level,YrsRunning,RaceDistance,RaceTimeHrs,RaceTimeMins,RaceTimeSecs,YrPR,NumRaces
0,100433,2010-10-05 13:22:40,20101005T132240.json,1.610861,53,NaN,NaN,Unknown,NaN,Training volume/intensity affected,...,NaN,"walking, horseback riding, strength training",Recreational,13.0,10k,NaN,NaN,NaN,NaN,NaN
1,100434,2010-11-17 13:22:40,20101117T132240.json,2.237294,51,NaN,NaN,Female,NaN,Training volume/intensity affected,...,NaN,"running, swimming",Recreational,20.0,Casual Runner (no times),NaN,NaN,NaN,NaN,NaN
2,100537,2012-07-03 10:25:50,20120703T102550.json,2.127441,255,173.1,67.6,Female,Right,2 workouts missed in a row,...,NaN,"hiking, power walking, pilates",Recreational,2.0,Casual Runner (no times),NaN,NaN,NaN,NaN,NaN
3,100560,2012-07-17 10:37:48,20120717T103748.json,2.657365,33,179.3,83.0,Female,Right,No injury,...,NaN,Yoga,Recreational,NaN,Casual Runner (no times),NaN,NaN,NaN,NaN,NaN
4,101481,2012-07-17 10:50:21,20120717T105021.json,2.625088,32,176.3,58.6,Female,NaN,No injury,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1827,200986,2015-03-12 14:39:44,20150312T143944.json,4.876998,20,174.0,56.8,Female,Right,No injury,...,NaN,Track,Competitive,8.0,Other distance,HH,5,30,2013.0,0.0
1828,200987,2015-03-12 16:08:40,20150312T160840.json,2.765022,50,164.0,60.0,Female,Right,Continuing to train in pain,...,ITB syndrome,"Running, triathlon",Recreational,16.0,5K,HH,32,00,2007.0,1.0
1829,201100,2015-04-09 15:59:15,20150409T155915.json,2.790966,52,170.0,80.0,Male,Right,Training volume/intensity affected,...,Ligament sprain,NaN,Recreational,30.0,NaN,HH,MM,SS,NaN,0.0
1830,201101,2015-04-13 14:31:52,20150413T143152.json,2.828602,21,162.0,65.5,Male,Right,No injury,...,NaN,NaN,Recreational,NaN,NaN,HH,MM,SS,NaN,NaN
1831,201099,2015-04-14 09:20:41,20150414T092041.json,2.514918,57,165.5,74.1,Female,Right,Continuing to train in pain,...,NaN,"Sprint Triathlon, Yoga",Recreational,30.0,5K,HH,37,00,2014.0,2.0

In [ ]:

for i in run:
    file_name = run['filename']
    runner_id = run['sub_id']
    runner_clip = pd.read_json(f'../raw_data/{runner_id}/{file_name}')