# Aim
### The aim of this notebook is to clean the metadata by:
#### 1. Cleaning the target feature (InjJoint)
#### 2. Dealing with missing information in our demographic features
## Injury section 

The aim of this section is to clean the injury feature, whose info is in: (InjJoint, InjDefn, SpecInj). 
- first: We will look at the NaN in the InjDefn column. Most of them are Not injured based on other columns.
- then: We will clean the Nan in the InjJoint column, based on InjDefn
- then: We will group the different 'NoInjury', 'NoInjury' and recently coded values. 
- then: We will create injury groups.

In [1]:
import pandas as pd
import numpy as np

## Loading in the run_data_csv

In [6]:
data = pd.read_csv('../data/meta/run_data_meta.csv')
pd.reset_option('display.max_rows')

### Cleaning missing InjJoint values

In [7]:
#replacing the nulls from InjDefn with 'NoInjury', because all correspond to 'NoInjury' in 'SpecInj'
cleaned_nulls_inj_df = data.copy()
cleaned_nulls_inj_df['InjDefn'].fillna('No injury', inplace=True)

/var/tmp/ipykernel_187069/1728998295.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleaned_nulls_inj_df['InjDefn'].fillna('No injury', inplace=True)

In [8]:
cleaned_nulls_inj_df['InjDefn'].isnull().sum() #verification

np.int64(0)

Now, cleaning InjJoint based on InjDefn information.

In [9]:
cleaned_nulls_inj_df[cleaned_nulls_inj_df['InjDefn'] == 'No injury']

,sub_id,datestring,filename,speed_r,age,Height,Weight,Gender,DominantLeg,InjDefn,...,SpecInjury2,Activities,Level,YrsRunning,RaceDistance,RaceTimeHrs,RaceTimeMins,RaceTimeSecs,YrPR,NumRaces
3,100560,2012-07-17 10:37,20120717T103748.json,2.657365,33,179.3,83.0,Female,Right,No injury,...,NaN,Yoga,Recreational,NaN,Casual Runner (no times),NaN,NaN,NaN,NaN,NaN
4,101481,2012-07-17 10:50,20120717T105021.json,2.625088,32,176.3,58.6,Female,NaN,No injury,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100658,2012-11-22 14:03,20121122T140316.json,2.434180,22,172.0,69.0,Female,Right,No injury,...,NaN,running,Recreational,7.0,Half Marathon,NaN,NaN,NaN,NaN,NaN
10,100727,2013-04-10 10:54,20130410T105446.json,2.724679,22,170.0,63.0,Female,Left,No injury,...,NaN,Running,Recreational,8.0,10k,NaN,40,00,NaN,4.0
11,100767,2013-06-06 13:46,20130606T134651.json,2.988546,33,180.0,69.0,Male,Left,No injury,...,NaN,running,Competitive,10.0,10k,NaN,38,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,200985,2015-03-10 12:01,20150310T120115.json,2.768780,40,176.0,66.8,Female,Right,No injury,...,NaN,"Running, biking, general fitness training",Recreational,25.0,Half Marathon,HH,MM,SS,NaN,1.0
1825,200985,2015-03-10 12:01,20150310T121326.json,3.359120,40,176.0,66.8,Female,Right,No injury,...,NaN,"Running, biking, general fitness training",Recreational,25.0,Half Marathon,HH,MM,SS,NaN,1.0
1826,200986,2015-03-12 14:28,20150312T142834.json,2.858234,20,174.0,56.8,Female,Right,No injury,...,NaN,Track,Competitive,8.0,Other distance,HH,5,30,2013.0,0.0
1827,200986,2015-03-12 14:28,20150312T143944.json,4.876998,20,174.0,56.8,Female,Right,No injury,...,NaN,Track,Competitive,8.0,Other distance,HH,5,30,2013.0,0.0
1830,201101,2015-04-13 14:31,20150413T143152.json,2.828602,21,162.0,65.5,Male,Right,No injury,...,NaN,NaN,Recreational,NaN,NaN,HH,MM,SS,NaN,NaN

In [10]:
cleaned_nulls_total = cleaned_nulls_inj_df.copy()

condition_injdefn_no_injury = cleaned_nulls_total['InjDefn'] == 'No injury'
condition_injjoint_nan_or_other = cleaned_nulls_total['InjJoint'].isnull() | \
                                  (cleaned_nulls_total['InjJoint'] == 'Other')

rows_to_edit = condition_injdefn_no_injury & condition_injjoint_nan_or_other


cleaned_nulls_total.loc[rows_to_edit, 'InjJoint'] = 'No injury'

In [12]:
cleaned_nulls_total['InjJoint'].isnull().sum()

np.int64(0)

#### Cleaning the InjJoint feature

In [13]:
cleaned_nulls_total['InjJoint'].value_counts()

InjJoint
Knee                   348
No injury              238
No Injury              228
No injury,No injury    189
Lower Leg              185
Thigh                  181
Foot                   141
Hip/Pelvis             136
Ankle                  107
Lumbar Spine            41
Sacroiliac Joint        22
Other                   16
Name: count, dtype: int64

In [14]:
cleaned_nulls_total.replace({'No Injury': 'No injury',
                             'No injury,No injury': 'No injury',
                             'Foot': 'Foot/Ankle',
                             'Ankle': 'Foot/Ankle',
                             'Lumbar Spine': 'Hip/Pelvis',
                             'Sacroiliac Joint': 'Hip/Pelvis'}, inplace= True)

In [15]:

cleaned_nulls_total[cleaned_nulls_total['InjJoint'] == 'Other'][['InjJoint', 'SpecInjury', 'InjDefn']]

    InjJoint               SpecInjury                             InjDefn
9      Other  fill in specifics below         Continuing to train in pain
74     Other                      NaN  Training volume/intensity affected
78     Other                      NaN  Training volume/intensity affected
142    Other                      NaN         Continuing to train in pain
202    Other                      NaN  Training volume/intensity affected
227    Other                      NaN          2 workouts missed in a row
289    Other                      NaN         Continuing to train in pain
457    Other                      NaN  Training volume/intensity affected
774    Other  fill in specifics below         Continuing to train in pain
804    Other  fill in specifics below         Continuing to train in pain
814    Other  fill in specifics below  Training volume/intensity affected
875    Other  fill in specifics below  Training volume/intensity affected
891    Other  fill in specifics below  Training volume/intensity affected
895    Other  fill in specifics below  Training volume/intensity affected
924    Other  fill in specifics below          2 workouts missed in a row
999    Other  fill in specifics below         Continuing to train in pain

removing the above 16 'others'

In [41]:
df_filtered = cleaned_nulls_total[cleaned_nulls_total['InjJoint'] != 'Other']

## Data After Dropped Columns ##

In [42]:
data_dropped = df_filtered.drop(['speed_r', 'DominantLeg', 'SpecInjury2', 'InjDuration', 'InjSide', 'Level', 'YrsRunning', 'RaceDistance', 'RaceTimeHrs', 'RaceTimeMins', 'RaceTimeSecs', 'YrPR', 'NumRaces', 'InjJoint2', 'InjSide2', 'Activities', 'datestring' ], axis=1)

## Cleaning the Data ##

- Height: **3 missing values**
- Weight: **2 missing values**
- Gender: **1 value with 'Unknown'**
- InjDefn: **(80 missing values) (1752 w/ value)**

In [43]:
data_dropped.loc[data_dropped['age'] == 255, 'age'] = 25

In [44]:
data_dropped.loc[0, 'Gender'] = 'Male'

## Let's fix Weight Column

In [45]:
# Compute means, excluding the row being filled (row1, row2)
male_mean = data_dropped.loc[(data_dropped['Gender'] == 'Male') & (data_dropped.index != 0), 'Weight'].mean()
female_mean = data_dropped.loc[(data_dropped['Gender'] == 'Female') & (data_dropped.index != 1), 'Weight'].mean()

# Fill the NaNs in first two rows(Male, Female)
data_dropped.at[0, 'Weight'] = male_mean
data_dropped.at[1, 'Weight'] = female_mean
data_dropped['Weight'] = data_dropped['Weight'].round(1)

## Let's Fix Height Column

In [46]:
# Compute means, excluding the row being filled (row1, row2)
male_mean = data_dropped.loc[(data_dropped['Gender'] == 'Male') & (data_dropped.index != 0), 'Height'].mean()
female_mean = data_dropped.loc[(data_dropped['Gender'] == 'Female') & (data_dropped.index != 1), 'Height'].mean()

# Fill the NaNs in first two rows (Male, Female)
data_dropped.at[0, 'Height'] = male_mean
data_dropped.at[1, 'Height'] = female_mean
data_dropped['Height'] = data_dropped['Height'].round(1)

## Excluding 120Hz because we want 200Hz

In [47]:
hz_data = pd.read_csv('../data/meta/all_120hz_subjects.csv')

In [48]:
len(hz_data['filename'])

115

In [49]:
to_exclude = hz_data['filename']
final_df = data_dropped[~data_dropped['filename'].isin(to_exclude)]

In [50]:
print(final_df.shape, data_dropped.shape) #only 10 runners were recorded at 120Hz

(1806, 9) (1816, 9)

### which were removed?

In [56]:
other_inj = cleaned_nulls_total[cleaned_nulls_total['InjJoint'] == 'Other']
other_inj.to_csv('../data/meta/other_injuries_dropped.csv')

In [54]:
hz_data['filename']
runners_120hz = data_dropped[data_dropped['filename'].isin(to_exclude)]
runners_120hz.to_csv('../data/meta/only_runners_120hz.csv')

## Excluding final columns: InjDefn and SpecInjury

In [58]:
clean_final_df = final_df.drop(columns = ['InjDefn', 'SpecInjury', 'sub_id'])

### Save to csv in data/meta

In [60]:
clean_final_df.head()

               filename  age  Height  Weight  Gender    InjJoint
0  20101005T132240.json   53   180.3    79.4    Male        Knee
1  20101117T132240.json   51   166.0    62.8  Female  Hip/Pelvis
2  20120703T102550.json   25   173.1    67.6  Female  Hip/Pelvis
3  20120717T103748.json   33   179.3    83.0  Female   No injury
4  20120717T105021.json   32   176.3    58.6  Female   No injury

In [61]:
clean_final_df.to_csv('../data/meta/metadata_for_model.csv', index = False)

In [63]:
clean_final_df['InjJoint'].value_counts()

InjJoint
No injury     654
Knee          343
Foot/Ankle    246
Hip/Pelvis    198
Lower Leg     185
Thigh         180
Name: count, dtype: int64