# Aim

The aim of this code is to clean the Injury feature, whose info is in: (InjJoint, InjDefn, SpecInj). 
- first: We will look at the NaN in the InjDefn column. Most of them are Not injured based on other columns.
- then: We will clean the Nan in the InjJoint column, based on InjDefn
- then: We will group the different 'NoInjury', 'NoInjury' and recently coded values. 
- then: We will create injury groups.

In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Loading in the run_data_csv
data = pd.read_csv('../data/meta/run_data_meta.csv')
pd.reset_option('display.max_rows')

## Cleaning missing InjJoint values

In [3]:

# Select only the columns we need to clean: filename (to id and merge later), InjJoint,
inj_data = data[['filename', 'InjJoint', 'InjDefn', 'SpecInjury']]
nulls_inj = inj_data[inj_data['InjJoint'].isnull()]
nulls_inj

                  filename InjJoint    InjDefn SpecInjury
33    20140410T152849.json      NaN  No injury        NaN
34    20140410T153617.json      NaN  No injury        NaN
36    20140617T103150.json      NaN  No injury        NaN
48    20140414T094847.json      NaN  No injury        NaN
50    20140402T132349.json      NaN  No injury        NaN
...                    ...      ...        ...        ...
1824  20150310T120115.json      NaN  No injury        NaN
1825  20150310T121326.json      NaN  No injury        NaN
1826  20150312T142834.json      NaN  No injury        NaN
1827  20150312T143944.json      NaN  No injury        NaN
1830  20150413T143152.json      NaN  No injury        NaN

[234 rows x 4 columns]

In [4]:
nulls_inj['InjDefn'].isnull().sum()

72

In [5]:
nulls_inj['InjJoint'].isnull().sum()

234

In [6]:
nulls_inj[nulls_inj['InjDefn'].isnull()]

                  filename InjJoint InjDefn SpecInjury
1092  20120522T121758.json      NaN     NaN  No injury
1093  20120524T105624.json      NaN     NaN  No injury
1094  20120528T103155.json      NaN     NaN  No injury
1095  20120605T115027.json      NaN     NaN  No injury
1096  20120605T124837.json      NaN     NaN  No injury
...                    ...      ...     ...        ...
1331  20140609T123854.json      NaN     NaN  No injury
1332  20140602T105322.json      NaN     NaN  No injury
1333  20140606T121315.json      NaN     NaN  No injury
1334  20140610T115941.json      NaN     NaN  No injury
1335  20140826T123047.json      NaN     NaN  No injury

[72 rows x 4 columns]

In [23]:
#replacing the nulls from InjDefn with 'NoInjury', because all correspond to 'NoInjury' in 'SpecInj'
cleaned_nulls_inj_df = data.copy()
cleaned_nulls_inj_df['InjDefn'].fillna('No injury', inplace=True)

/var/folders/33/c9bqly2941582tqml8763cxr0000gn/T/ipykernel_19739/1728998295.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleaned_nulls_inj_df['InjDefn'].fillna('No injury', inplace=True)

In [24]:
cleaned_nulls_inj_df['InjDefn'].isnull().sum() #verification

0

Now, cleaning InjJoint based on InjDefn information.

In [25]:
cleaned_nulls_inj_df[cleaned_nulls_inj_df['InjDefn'] == 'No injury']

,sub_id,datestring,filename,speed_r,age,Height,Weight,Gender,DominantLeg,InjDefn,...,SpecInjury2,Activities,Level,YrsRunning,RaceDistance,RaceTimeHrs,RaceTimeMins,RaceTimeSecs,YrPR,NumRaces
3,100560,2012-07-17 10:37:48,20120717T103748.json,2.657365,33,179.3,83.0,Female,Right,No injury,...,NaN,Yoga,Recreational,NaN,Casual Runner (no times),NaN,NaN,NaN,NaN,NaN
4,101481,2012-07-17 10:50:21,20120717T105021.json,2.625088,32,176.3,58.6,Female,NaN,No injury,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100658,2012-11-22 14:03:16,20121122T140316.json,2.434180,22,172.0,69.0,Female,Right,No injury,...,NaN,running,Recreational,7.0,Half Marathon,NaN,NaN,NaN,NaN,NaN
10,100727,2013-04-10 10:54:46,20130410T105446.json,2.724679,22,170.0,63.0,Female,Left,No injury,...,NaN,Running,Recreational,8.0,10k,NaN,40,00,NaN,4.0
11,100767,2013-06-06 13:46:51,20130606T134651.json,2.988546,33,180.0,69.0,Male,Left,No injury,...,NaN,running,Competitive,10.0,10k,NaN,38,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,200985,2015-03-10 12:01:15,20150310T120115.json,2.768780,40,176.0,66.8,Female,Right,No injury,...,NaN,"Running, biking, general fitness training",Recreational,25.0,Half Marathon,HH,MM,SS,NaN,1.0
1825,200985,2015-03-10 12:13:26,20150310T121326.json,3.359120,40,176.0,66.8,Female,Right,No injury,...,NaN,"Running, biking, general fitness training",Recreational,25.0,Half Marathon,HH,MM,SS,NaN,1.0
1826,200986,2015-03-12 14:28:34,20150312T142834.json,2.858234,20,174.0,56.8,Female,Right,No injury,...,NaN,Track,Competitive,8.0,Other distance,HH,5,30,2013.0,0.0
1827,200986,2015-03-12 14:39:44,20150312T143944.json,4.876998,20,174.0,56.8,Female,Right,No injury,...,NaN,Track,Competitive,8.0,Other distance,HH,5,30,2013.0,0.0
1830,201101,2015-04-13 14:31:52,20150413T143152.json,2.828602,21,162.0,65.5,Male,Right,No injury,...,NaN,NaN,Recreational,NaN,NaN,HH,MM,SS,NaN,NaN

In [37]:
cleaned_nulls_total = cleaned_nulls_inj_df.copy()

condition_injdefn_no_injury = cleaned_nulls_total['InjDefn'] == 'No injury'
condition_injjoint_nan_or_other = cleaned_nulls_total['InjJoint'].isnull() | \
                                  (cleaned_nulls_total['InjJoint'] == 'Other')

rows_to_edit = condition_injdefn_no_injury & condition_injjoint_nan_or_other


cleaned_nulls_total.loc[rows_to_edit, 'InjJoint'] = 'No injury'

In [38]:
cleaned_nulls_total['InjJoint']

0                      Knee
1              Lumbar Spine
2                Hip/Pelvis
3                 No Injury
4       No injury,No injury
               ...
1827              No injury
1828             Hip/Pelvis
1829           Lumbar Spine
1830              No injury
1831                   Foot
Name: InjJoint, Length: 1832, dtype: object

In [39]:
cleaned_nulls_total['InjJoint'].isnull().sum()

0

## Cleaning the InjJoint feature

In [40]:
cleaned_nulls_total['InjJoint'].value_counts()

InjJoint
Knee                   348
No injury              238
No Injury              228
No injury,No injury    189
Lower Leg              185
Thigh                  181
Foot                   141
Hip/Pelvis             136
Ankle                  107
Lumbar Spine            41
Sacroiliac Joint        22
Other                   16
Name: count, dtype: int64

In [41]:
cleaned_nulls_total.replace({'No Injury': 'No injury',
                             'No injury,No injury': 'No injury',
                             'Foot': 'Foot/Ankle',
                             'Ankle': 'Foot/Ankle',
                             'Lumbar Spine': 'Hip/Pelvis',
                             'Sacroiliac Joint': 'Hip/Pelvis'}, inplace= True)

In [42]:
cleaned_nulls_total[cleaned_nulls_total['InjJoint'] == 'Other'][['InjJoint', 'SpecInjury', 'InjDefn']]

    InjJoint               SpecInjury                             InjDefn
9      Other  fill in specifics below         Continuing to train in pain
74     Other                      NaN  Training volume/intensity affected
78     Other                      NaN  Training volume/intensity affected
142    Other                      NaN         Continuing to train in pain
202    Other                      NaN  Training volume/intensity affected
227    Other                      NaN          2 workouts missed in a row
289    Other                      NaN         Continuing to train in pain
457    Other                      NaN  Training volume/intensity affected
774    Other  fill in specifics below         Continuing to train in pain
804    Other  fill in specifics below         Continuing to train in pain
814    Other  fill in specifics below  Training volume/intensity affected
875    Other  fill in specifics below  Training volume/intensity affected
891    Other  fill in specifics below  Training volume/intensity affected
895    Other  fill in specifics below  Training volume/intensity affected
924    Other  fill in specifics below          2 workouts missed in a row
999    Other  fill in specifics below         Continuing to train in pain